<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ContactPlusPlus</title>
</head>

<body>
  <h1>ContactPlusPlus</h1>
  <div class="container">
    <form id="contact-info-form" enctype="application/json">

      <label>* Necessary Info</label><br>
      ------<br>
      <label>first name: </label><br>
      <input name="first_name" id="first_name" placeholder="first name"><br>
      <label>last name: </label><br>
      <input name="last_name" id="last_name" placeholder="last name"><br>
      <label>phone: </label><br>
      <input name="phone" id="phone"><br>
      <label>email: </label><br>
      <input name="email" id="email" type="email"><br>

      <label>Unnecessary Info</label><br>
      -------<br>
      <label>tag: </label><br>
      <input name="tag" id="tag"><br>
      <label>address: </label><br>
      <input name="address" id="address"><br>
      <label>birthday: </label><br>
      <input name="birthday" id="birthday" type="date"><br>
      <label>country: </label><br>
      <input name="country" id="country"><br>

      <label>gender: </label><br>
      <input name="sex" id="male" type="radio" checked value="male">male<br>
      <input name="sex" id="female" type="radio" value="female">female<br>
      <input name="sex" id="other-gender" type="radio" value="other">other<br>

      <label>social account</label><br>
      ---<br>
      <label>twitter:</label><br>
      <input name="twitter" id="twitter" class="social_account"><br>
      <label>weibo:</label><br>
      <input name="weibo" id="weibo" class="social_account"><br>

      <label>IM account</label><br>
      ---<br>
      <label>qq:</label><br>
      <input name="qq" id="qq" class="im_account">
    </form>
    <button id='add-contact'>add contact</button>
  </div>

  <button id="delete-contact" value="delete contact">
    del contact
  </button>
  <button id="update-contact" value="update contact">
    update contact
  </button>
  <button id="sync-contact" value="synchronize contact">
    synchronize contact
  </button>
  <br>

  <input type="text" id="searchTextbox" placeholder="Search Contact">
  <div id="contact-area">
    <table id="contact-list">
      <tr>
        <th>ID</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Detail</th>
      </tr>
    </table>
  </div>
  <div>
    <button id="next-page">next page</button>
    <button id="last-page">last page</button>
  </div>


  <br>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script src="../../dist/lib/jquery.min.js" type="text/javascript"></script>
  <script src="../../dist/render/contact.js" type="text/javascript"></script>
  <script>if (window.module) module = window.module;</script>
</body>

</html>